CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="@NTINY_LINUX@/initramfs.cpio"
CONFIG_INITRAMFS_COMPRESSION_NONE=y
CONFIG_EXPERT=y
CONFIG_SOC_VIRT=y
CONFIG_NONPORTABLE=y
CONFIG_ARCH_RV32I=y
CONFIG_RISCV_ISA_ZBB=y
# CONFIG_IRQ_STACKS is not set
CONFIG_RISCV_SBI_V01=y
CONFIG_CMDLINE="earlycon=sbi console=hvc0"
CONFIG_CMDLINE_FORCE=y
# CONFIG_STACKPROTECTOR is not set
# CONFIG_BLOCK is not set
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_HVC_RISCV_SBI=y
CONFIG_TMPFS=y
# CONFIG_FTRACE is not set
